# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle.properties

# Logs
logs/

# Backups (carpeta versionada, archivos no)
backups/*.sql

# OWASP reports
build/reports/

# Spring Boot
application-local.properties

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath
.nb-gradle/

# OS
.DS_Store
Thumbs.db
