<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/citas-form.css}">
<script defer th:src="@{/js/citas-form.js}"></script>
</head>   
<body>

<div class="contenedorCitas">
<h2>Registrar Cita</h2>
    <div th:if="${error}" class="alert alert-danger">
        <span th:text="${error}"></span>
    </div>

    <div th:if="${exito}" class="alert alert-success">
        <span th:text="${exito}"></span>
    </div>
<form th:action="@{/citas/guardar}"
      th:object="${cita}"
      method="post">
    <div class="formularioCitas">

    <!-- Mascota -->
    <label  class="form-label">Mascota:</label>
    <select class="form-select" aria-label="mascotas" name="mascotaId" required>
        <option value="">Seleccione</option>
        <option th:each="m : ${mascotas}"
                th:value="${m.id}"
                th:text="${m.nombre}">
        </option>
    </select>



    <!-- Veterinario -->
    <label class="form-label">Veterinario:</label>
    <select class="form-select" name="veterinarioId" required>
        <option value="">Seleccione</option>
        <option th:each="v : ${veterinarios}"
                th:value="${v.id}"
                th:text="${v.nombre}">
        </option>
    </select>


    <!-- Fecha -->
    <label class="form-label">Fecha:</label>
    <input  class="form-control" type="date" th:field="*{fechaCita}" required>



    <!-- Hora -->
    <label class="form-label">Hora:</label>
    <input  class="form-control" type="time" th:field="*{horaCita}" required>


    <!-- Motivo -->
    <label class="form-label">Motivo:</label>
    <textarea class="form-control"
              th:field="*{motivo}" required></textarea>



    <button type="submit"  class="btn btn-success" >Registrar</button>
    </div>
</form>
</div>
</body>
</html>
