<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

  <h2>Panel principal</h2>

  <a th:href="@{/clientes/nuevo}"
     sec:authorize="hasAnyRole('ADMIN','RECEPCION')">
    + Registrar nuevo cliente
  </a>
  <br><br>

  <a th:href="@{/clientes}"
     sec:authorize="hasAnyRole('ADMIN','RECEPCION')">

    Ver clientes registrados
  </a>
    <br><br>

    <a th:href="@{/veterinarios}"
       sec:authorize="hasAnyRole('ADMIN','RECEPCION')">
        Ver veterinarios
    </a>




</div>
</body>
</html>